<%= @template %>


<center><p style="text-align:center;">Pour se désabonner à cette newsletter,  <a href="https://site-temporaire-blog-de-gaelle.netlify.app/gaelle-boucherit/quit-newsletter/<%= @token %>" target="_blank" style="text-decoration:underline;color:black">cliquez ici</a> </p></center>