<%= @template %>

<center><a href="https://site-temporaire-blog-de-gaelle.netlify.app/" target="_blank" title="blog de gaëlle"style="margin-top:30px;margin-bottom:30px;font-size:1.25rem;padding:10px 15px;background-color:#dddddd;cursor:pointer;color:black;text-decoration:none;border-radius:4px;font-weight:700">Blog de Gaëlle</a></center>


<center><p>Pour se désabonner à cette newsletter,  <a href="http://localhost:3001/gaelle-boucherit/quit-newsletter/<%= @token %>" target="_blank" style="text-decoration:underline;color:black">cliquez ici</a> </p></center>